.list{
    background-image: url("./images/background/h_img.jpg");
background-size: cover;
    text-align: center;
    padding-top:20%;
    color:white;  
}
.about{
    text-align: center;
    background-color: white; 
}
.Service{
    background-image: url("./images/background/s_image.jpg");
    background-size:cover;
    color: white;
    text-align: center;
}
#what{
    text-align: center;
}
#port{
    text-align: center;
}
.on{
    background-image:url("./images/background/c_image.jpg");
    color: white;
    text-align: center;
    width: 100%;
    height: 350px;
}
button:hover{
    background-color: #FF52BC;
}
.pot img{
    padding: 25px;
}

container:hover{
    background-color:#FFA18C;
}
 